body{
  background-color: rgb(33, 32, 34);
  color: #c9c9c9;
  margin:30px;
  text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-item{
    flex-grow: 1;
    margin:10px;
}

.video{
    background-color: rgb(52, 50, 53);
    padding: 10px;
}

#sliders{
    display: flex;
    background-color: rgb(52, 50, 53);
    padding: 10px;
    flex-direction: column;
}

#env-options-menu{
    background-color: rgb(52, 50, 53);
    padding: 10px;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
     background: #000000;
     outline: none;
}

.response-container{
    display: flex;
    flex-direction: row;
}

.range-label{
    flex-grow: 1;
    text-align: center;
    max-width: 80px;
    flex-shrink: 0;
    flex-basis: 0;
    padding-left:10px;
    padding-right:10px;
}
.word-label{
    width: 150px;
    text-align: center;
    font-weight: bold;
}
.scale-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
}
.intensity_cue_svg{
    display: flex;
    width: 100%;
    height:auto;
    
    flex-shrink: 0;
    flex-basis: 0;
}
.intensity-cue{
    background-color: #72d4fa;
    width:100%;
    height: 50px;
}
.env-button{
    display: inline-block;
    margin:8px;
    padding:20px;
    background-color:#c9c9c9;
    color: #333;
}

.env-button:hover{
    background-color: rgb(150, 193, 212);
}

.single-message{
    background-color: rgb(52, 50, 53);
    padding: 20px;
    max-width: 800px;
    margin:auto;
    width: 50%;
    text-align: left;
}

h2{
    text-align: center;
}

.menu-button{
    text-align: center;
}

form{
    text-align: center;
}

a{
    color:#72d4fa;
}

#videoProgress{
    position: fixed;
    right:0px;
    top:0px;
    margin:20px;
    background-color: rgb(52, 50, 53);
    padding: 10px;

}